resources/odd/TTR2.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TTR2</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="TTR2.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-07-09+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="TTR2" source="teipublisher.odd"> <elementSpec ident="teiHeader" mode="change">
                    <modelSequence predicate="$parameters?view=&#34;metadata&#34;">
            <model behaviour="heading" cssClass="metadata-heading">
                <param name="content" value=".//fileDesc/titleStmt/title"/>
                <param name="level" value="3"/>
                <outputRendition xml:space="preserve">
                color: black;
                </outputRendition>
            </model>
            <model behaviour="heading" cssClass="metadata-heading">
                <param name="level" value="3"/>
                <param name="content" value="'Author'"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
            <model behaviour="block" cssClass="metadata">
                <param name="content" value=".//fileDesc/titleStmt/author"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
            <model behaviour="heading" cssClass="metadata-heading">
                <param name="level" value="3"/>
                <param name="content" value="'Source'"/>
            </model>
            <model behaviour="block" cssClass="metadata">
                <param name="content" value=".//monogr/title"/>
            </model>
            <model behaviour="block" cssClass="metadata">
                <param name="content" value=".//monogr/author"/>
                <outputRendition xml:space="preserve">
                margin-top: 18.72px;
                </outputRendition>
            </model>
            <model behaviour="heading" cssClass="metadata-heading">
                <param name="level" value="3"/>
                <param name="content" value="'Date'"/>
            </model>
            <model behaviour="block" cssClass="metadata">
                <param name="content" value=".//edition/date"/>
            </model>
            <model behaviour="heading" cssClass="metadata-heading">
                <param name="content" value="'Printer'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="list" cssClass="metadata">
                <param name="content" value=".//imprint/publisher"/>
            </model>
            <model predicate=".//imprint/distributor" behaviour="heading" cssClass="metadata-heading">
                <param name="content" value="'Publisher'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="list" cssClass="metadata">
                <param name="content" value=".//imprint/distributor"/>
            </model>
            <model behaviour="heading" cssClass="metadata-heading">
                <param name="content" value="'USTC Subject Categorisation'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="list" cssClass="metadata">
                <param name="content" value=".//keywords[@scheme=&#34;USTC Subject Classification&#34;]/term"/>
            </model>
            <model behaviour="link">
                <param name="content" value="'ESTC Record &gt;&gt;&gt;'"/>
                <param name="uri" value="concat('http://estc.bl.uk/', .//idno[@type='ESTC'])"/>
                <param name="target" value="'_blank'"/>
                <outputRendition xml:space="preserve">
                font-family: 'Montserrat', sans-serif;
                </outputRendition>
                <outputRendition xml:space="preserve">
                color: #0082a8;
                </outputRendition>
                <outputRendition xml:space="preserve">
                font-weight: bold;
                </outputRendition>
                <outputRendition xml:space="preserve">
                text-align: center;
                </outputRendition>
            </model>
        </modelSequence>
                    <model output="latex" behaviour="metadata"/>
                    <model output="fo" behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <model predicate="parent::monogr" behaviour="block">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="author" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="publisher" mode="change">
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="imprint" mode="add"/>
                <elementSpec ident="biblStruct" mode="add"/>
                <elementSpec ident="monogr" mode="add"/>
                <elementSpec ident="sourceDesc" mode="add"/>
            <elementSpec ident="keywords" mode="add"/>
                <elementSpec ident="term" mode="add">
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="profileDesc" mode="change"/>
                <elementSpec ident="textClass" mode="add"/>
                <elementSpec ident="idno" mode="add"/>
                <elementSpec ident="listItem" mode="add"/>
                <elementSpec ident="list" mode="change">
                    <model predicate="@rendition" behaviour="list" useSourceRendition="true">
            <param name="content" value="item"/>
        </model>
                    <model predicate="not(@rendition)" behaviour="list">
            <param name="content" value="item"/>
        </model>
                </elementSpec>
            <elementSpec ident="seg" mode="change">
                    <model predicate="@rend=&#34;decorInit&#34;" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            
            
            
            
              color: #d07225;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="not(@rendition)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="trailer" mode="change">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <model behaviour="paragraph" cssClass="p" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
            <outputRendition xml:space="preserve">
            font-family: 'Montserrat', sans-serif;
            </outputRendition>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="desc" mode="change"/>
                
        

                


         <elementSpec ident="fileDesc" mode="change">
                    <modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="titleStmt/author"/>
            </model>
            <model behaviour="link" cssClass="header-short">
                <param name="content" value="titleStmt/title"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="editionStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value=".//monogr/title"/>
            </model>
        </modelSequence>
                </elementSpec>
        
            <elementSpec ident="distributor" mode="add">
        <model behaviour="listItem"/>
    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>